@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6 - 230px));
    }
}

.slider {
    height: 110px;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 120px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider h3 {
    position: absolute;
    left: 50%;
    text-align: center;
    top: -5px;
    color: black;
}

.slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    gap: 50px;
    width: calc(250px * 10 + 175px * 2);
}

.slider .slide {
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider img {
    filter: grayscale();
}
