@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
}   

body {
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C3D7CD;
    flex-wrap: wrap;
    padding: 2vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

nav .left a {
    align-items: center;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #000;
}

nav .left h1 {
    font-style: normal;
    font-size: 2.5vh;
    font-weight: 600;
}

nav .left img {
    width: 10vh;
}

nav .right a {
    color: #000;
    text-decoration: none;
    font-size: 2vh;
    margin: 1vh;
    cursor: pointer;
}

.contact {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.contact .contact-box {
    background: #fff;
    width: 50vh;
    height: 50vh;
    margin: 20vh auto;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact .contact-box .close {
    position: fixed;
    top: 25vh;
    left: calc(50vw + 25vh - 70px);
    margin: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.contact .contact-box h2 {
    font-size: 3vh;
}

.contact .contact-box .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    gap: 30px;
}

.contact .contact-box .contact-form input {
    width: 30vh;
    height: 40px;
    border-radius: 3vh;
    border: 2px solid #A4C79F;
    padding: 1.5vh;
}

.contact .contact-box .contact-form textarea {
    width: 30vh;
    height: 15vh;
    border-radius: 3vh;
    border: 2px solid #A4C79F;
    padding: 1vh;
    resize: none;
}

.contact .contact-box .contact-form button {
    width: 10vh;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background: #A4C79F;
    color: #fff;
    font-size: 2vh;
    transition: 0.5s;
    cursor: pointer;
}

.contact .contact-box .contact-form button:hover {
    background: #C3D7CD;
}

.recruiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14vh;
    padding-top: 50px;
    gap: 40px;
    padding-bottom: 150px;
}

.recruiting h1 {
    font-size: 3vh;
    font-weight: 300;
    margin-bottom: 2vh;
    text-align: center;
}

.recruiting p {
    text-align: center;
}

.recruiting .element {
    width: 70vw;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: #A4C79F 4px solid;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
}

.recruiting .element .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.recruiting .element .info .logo {
    width: 80px;
    height: 80px;
}

.recruiting .element .info .text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.recruiting .element .title h2 {
    font-weight: 600;
}

.recruiting .button {
    background-color: #A4C79F;
    border-radius: 40px;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.recruiting .button a {
    color: #000;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C3D7CD;
    flex-wrap: wrap;
    padding: 2vh;
    margin-top: 10vh;
}

footer .left {
    align-items: center;
    display: flex;
}

.left .footer-text {
    margin-left: 10vh;
}

footer .left .img img {
    width: 10vh;
}

footer .right a {
    color: #000;
    text-decoration: none;
    font-size: 2vh;
    margin: 1vh;
}

.don {
    background: #A4C79F;
    border-radius: 3vh;
    padding: 1vh;
}

@media (max-width: 1000px) {
    .recruiting .element {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .recruiting .element .logo {
        display: none;
    }

    .recruiting .element .text {
        text-align: center;
    }

    .recruiting .element .button {
        position: relative;
        /* top: calc(150px + 100%); */
        top: 45px;
        bottom: 0;
    }

    footer {
        margin-top: 0vh;
    }
    .left .footer-text {
        margin-left: 2vh;
    }
}