@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
}   

body {
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C3D7CD;
    flex-wrap: wrap;
    padding: 2vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

nav .left a {
    align-items: center;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #000;
}

nav .left h1 {
    font-style: normal;
    font-size: 2.2vh;
}

nav .left img {
    width: 10vh;
}

nav .right a {
    color: #000;
    text-decoration: none;
    font-size: 2vh;
    margin: 1vh;
    cursor: pointer;
}

.contact {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.contact .contact-box {
    background: #fff;
    width: 50vh;
    height: 50vh;
    margin: 20vh auto;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact .contact-box .close {
    position: fixed;
    top: 25vh;
    left: calc(50vw + 25vh - 70px);
    margin: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.contact .contact-box h2 {
    font-size: 3vh;
}

.contact .contact-box .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    gap: 30px;
}

.contact .contact-box .contact-form input {
    width: 30vh;
    height: 40px;
    border-radius: 3vh;
    border: 2px solid #A4C79F;
    padding: 1.5vh;
}

.contact .contact-box .contact-form textarea {
    width: 30vh;
    height: 15vh;
    border-radius: 3vh;
    border: 2px solid #A4C79F;
    padding: 1vh;
    resize: none;
}

.contact .contact-box .contact-form button {
    width: 10vh;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background: #A4C79F;
    color: #fff;
    font-size: 2vh;
    transition: 0.5s;
    cursor: pointer;
}

.contact .contact-box .contact-form button:hover {
    background: #C3D7CD;
}

.content {
    width: 70vw;
    margin-top: 15vh;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.content h2 {
    font-size: 3vh;
    margin-left: 5vh;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C3D7CD;
    flex-wrap: wrap;
    padding: 2vh;
    margin-top: 10vh;
}

footer .left {
    align-items: center;
    display: flex;
}

.left .footer-text {
    margin-left: 10vh;
}

footer .left .img img {
    width: 10vh;
}

footer .right a {
    color: #000;
    text-decoration: none;
    font-size: 2vh;
    margin: 1vh;
}

.don {
    background: #A4C79F;
    border-radius: 3vh;
    padding: 1vh;
}

@media (max-width: 1000px) {
    .benevol-text {
        padding: 0;
    }
    
    .benevol .img img{
        width: 30vh;
    }

    .scroll-text {
        font-size: 2.5vh;
    }

    .invite {
        margin-top: 30vh;
    }

    .discord{
        margin-top: 40vh;
    }

    .discord-text .invite a {
        height: 10vh;
        width: 40vh;
    }

    iframe {
        opacity: 0;
        position: absolute;
        width: 90000vh;
    }

    footer {
        margin-top: 0vh;
    }

    footer .right {
        margin-top: 20px;
    }

    .left .footer-text {
        margin-left: 2vh;
    }
}