@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-310px * 5));
    }
}

.slider {
    height: 110px;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 120px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider h3 {
    position: absolute;
    left: calc(50% - 70px);
    text-align: center;
    top: -5px;
    color: black;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 50px;
    width: calc(250px * 10);
}

/* .slider .slide-track:hover {
    animation: none;
} */

.slider a.slide {
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.slider img {
    filter: grayscale();
    transition: 0.5s;
    max-height: 100px;
    max-width: 250px;
}

.slider img:hover {
    filter: none;
    cursor: pointer;
}